html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }
a {
  color: rgb(101, 0, 0);
}
body {
  font-size: 14px;
  line-height: 1.45;
  font-family: san-serif;
  padding: 0;
  margin: 0; }

.property-grid-item img {
  /*max-width: 100%; */}

.apartment-details-container {
  display: flex;
  justify-content: space-between; }

  .apartment-details-container-two {
    display: flex;
    flex-direction: row;
  }

.apartment-details-container-two img {
    border-right: 2px solid rgb(101, 0, 0);
  }
.part-two {
  overflow: hidden;
  width: 30vw;
  height: 420px;
}

.apartment-details {
  background-color: rgb(101, 0, 0);
  
  height: 400px; }

.apartment-image {
  height: 400px;
  background-color: aliceblue;
  flex: 1; }

/*small screens */
@media only screen and (max-width: 1023px) {
  .overlay {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    opacity: .5;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 10003; }


#please {
  background-color: white;
}
    .sidebar-apartments {
      display: flex;
      flex-direction: column;
    }

  #navigation {
    display: none;
  }
  
  .navctrl {
    display: none;
  }
  


  .sidebar-container {
    display: none;
  }

  .main-content {
    width: 100vw;
  }

  .slider {
    width: 100vw;
  }

  header {
    height: 68px;
    background-color: rgb(101, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    min-width: 80px;
    position: fixed;
    width: 100%;
    z-index: 10002; }

  header:first-child {
    padding-left: 2em; }

  .menu-bar {
    height: 75vh;
    max-width: 35px;
    cursor: pointer; }

  .bar {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0; }

  .button-box {
   }

  .brand {
    color: white;
     }

  button {
    background-color: #003059;
    color: white;
    padding: 8px 8px;
    cursor: pointer;
    border: none; }

  .btn {
    border: none;
    color: white;
    padding: 8px 8px;
    cursor: pointer; }

  .side-bar-container {
    position: fixed;
    left: -400px;
    top: 0;
    bottom: 0;
    z-index: 10003;
    min-width: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    flex: none;
    transition: all 500ms linear; }

  .side-bar-container.active {
    left: 0px; }

  header {
    height: 60px;
    background-color: rgb(101, 0, 0); } }
/*Large Screens*/
@media only screen and (min-width: 1024px) {
  header {
    display: none; }

  .side-bar {
    position: fixed;
    height: 100vh;
    width: 25vw;
    overflow-y: scroll; }

  

  

  .property-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em; }

  .frame-two {
    height: 250px;
    /*overflow hidden for any of element that goes over if needed */
    overflow: hidden;
  }

  .frame-two img {
    width: 100%;
    height: 250px;
  }

   



  .frame img {
    width: 100%;
    height: 180px; }

  .property-grid-item {
    width: 47%;
    /*height: 350px;*/
    margin-right: 1em;
    background-color: white; }

    .property-grid-item2 {
    width: 30%;
    /*height: 350px;*/
    margin-right: 1em;
    background-color: white; }

  .font-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: 'Crimson Text', sans-serif;}


  .apartment-info {
    /*border: 15px solid rgb(101, 0, 0);*/
    color: rgb(101, 0, 0);} 

  .apartment-caption {
  font-size: 18px;
  color: rgb(101, 0, 0);
}

.col {
  width: 200px;
  line-height: 44px;
  margin-right: .5em;
  display: inline;
  text-transform: uppercase;
  font-family: 'Crimson Text', sans-serif;
  color: blue;
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center; 
    }


.container {
  width: 100%;
  height: 40px;
  margin-right: .5em;
  flex-direction: row;
  justify-content: center;
  display: flex;
  /*padding: 1em;*/ }

.site-wrapper {
  display: flex; 

}

.side-bar {
  background-color: rgb(101, 0, 0);
  padding-left: 15px;
  display: flex;
  flex-direction: column; }

.main-content {
  background-color: white;
  
  overflow: hidden; }

.property-grid-item {
  margin-bottom: 1rem; 
  border: 1px solid rgb(101, 0, 0);}

.apartments {
  font-size: .75em;
  /*font-family: 'Crimson Text', sans-serif;
  font-family: 'Lato', sans-serif;*/
  font-weight: 900;
  color: #003059;
  flex: 1; }

.properties-section {
  background-color: white; 
  }

  .properties-section ul li{
    list-style-type:none;
    padding-left: 0px;
  }

.properties-section .apartment-mini:last-child {
  border-bottom: 1px solid #ECEBEB; }



.logo-frame {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white; }

.logo-section {
  background-color: white; }

.apartment-mini {
  padding-left: 5px;
  border-top: 1px solid #ECEBEB;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Crimson Text', sans-serif;
  color: purple; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none;
  color: rgb(101, 0, 0); }

h3 {
  font-sze: 50px; }

.footer {
  font-size: 12px;
  background-color: white;
  padding-left: 5px;
  color: rgb(101, 0, 0);
  height: 25vh; }

/*# sourceMappingURL=style.css.map */


.results-search-hidden-nav {
        background-color: purple;
        position: fixed;
        top: 50px;
        z-index:5;
      }

      .results-search {
       /* border: 5px solid brown;
        background-color: purple;
        position: fixed;
        top: 75px;
        z-index:5;*/
      }
        
        
        .floorplans {
            /*border: 5px solid red;*/
            width: 500px;
        }
        
        .floorplan-container {
           /*border: 5px solid yellow;
            position: relative;
            top: 175px;*/
        }

        .search-filter-container {
          /*border: 5px solid blue;*/
          background-color: #e6e6e6;
          z-index: 2000;
        }

        input[type=text]{
          padding: 8px;
          margin: 8px 0;
          border: 1px solid #CCC;
          outline: none;
          box-sizing: border-box;
          transition: 1s;
          height: 50px;
        }

        input[type=text]:focus{
          border-color: rgb(101, 0, 0);
          box-shadow: 0 0 8px 0 rgb(101, 0, 0);
        }

